<meta charset="UTF-8">
<meta name="description" content="Maximus - Room Booking">
<meta name="keywords" content="itp4">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Maximus - Room Booking</title>
<link rel="icon" href="/MaximusHotel/img/favicon.png" />
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&amp;display=swap" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/MaximusHotel/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/MaximusHotel/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/MaximusHotel/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/MaximusHotel/css/flaticon.css" type="text/css">
<link rel="stylesheet" href="/MaximusHotel/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/MaximusHotel/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/MaximusHotel/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/MaximusHotel/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/MaximusHotel/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/MaximusHotel/css/style.css" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer);
            toast.addEventListener('mouseleave', Swal.resumeTimer);
        }
    });
</script>



